- provide(:title, t('insurances.new.title'))

%h1.page-header= t('insurances.new.header')
.row
  .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
    #vehicle_section
      %h3= t('insurances.new.vehicle.header')
      %b= t('insurances.new.vehicle.message')
      #search_vehicle_form_container
        = render partial: "vehicles/search_form"
      #new_vehicle_form_container
        = render partial: "vehicles/new_form"

    #insurance_section{style: "display: none"}
      %h3= t('insurances.new.subheader')
      %p#insurance_state_message
      %input{type: 'button', value: t('insurances.new.continue'), class: "btn btn-primary", data: {toggle: 'modal', target: '#purchase_summary'}}
      %b#insurance_end_message

= render partial: 'purchase_summary'
