- provide(:title, @vehicle.license)

%h1.page-header= "#{t('insurances.show.header')} \"#{@vehicle.license}\""
.row
  .col-xs-12
    %h2.page-header Detalles
    %b Codigo:
    %p= @rate.code
    %b Categoria:
    %p= @vehicle.category
    %b Subcategoria:
    %p= @vehicle.subcategory
    %b Edad:
    %p= @vehicle.age
    %b= "#{@vehicle.value_type}:"
    %p= @vehicle.value
    %h2.page-header.page-subheader Tarifa
    %b Valor Prima
    %p= price(@rate.bonus
    %b Contribucion Fosyga (50%)
    %p= price(@rate.fosyga
    %b Tasa Runt
    %p= price(Rate::RUNT_RATE
    %h4= "TOTAL: #{price(@rate.total)}"
    %h2.page-header.page-subheader Cubrimiento
    = render Coverage.instance
