.masthead.navbar-fixed-top
  .inner
    %a{href: "#{root_path}"}
      %h3.masthead-brand SOAT
    %nav
      %ul.nav.masthead-nav
        %li{class: "#{@active == 'home' ? 'active' : 'inactive'}"}
          %a{href: "#{root_path}"} Inicio
        %li{class: "#{@active == 'about' ? 'active' : 'inactive'}"}
          %a{href: "#{about_path}"} Sobre Nosotros
        %li{class: "#{@active == 'contact' ? 'active' : 'inactive'}"}
          %a{href: "#{contact_path}"} Contactenos
        %li{class: "#{@active == 'register' ? 'active' : 'inactive'}"}
          %a{href: "#{new_user_registration_path}"} Registrarse
        %li{class: "#{@active == 'login' ? 'active' : 'inactive'}"}
          %a{href: "#{new_user_session_path}"} Login
      %ul.nav.maste-right
