%h2= t('soat.questions.what')
%p= t('soat.what')

%h2= t('soat.questions.which')
%p= t('soat.features')
%ul
  %li= t('soat.feature_1')
  %li= t('soat.feature_2')
  %li= t('soat.feature_3')
  %li= t('soat.feature_4')
  %li= t('soat.feature_5')

%h2= t('soat.rates')
%b= t('soat.rates_message')
= render partial: 'rates/rates_table'
