// Navbar
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#{root_path}"} SOAT
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to t('dashboard.navbar.buy'), new_insurance_path
        - unless current_user.admin?
          %li
            = link_to t('dashboard.navbar.insurances'), bought_insurances_path
        %li
          = link_to t('dashboard.navbar.profile'), edit_user_registration_path
        %li
          = link_to t('dashboard.navbar.logout'), destroy_user_session_path, method: :delete
      -# %form.navbar-form.navbar-right
      -#   %input.form-control{placeholder: "Search...", type: "text"}
