#sidebar
  %ul.nav.nav-sidebar
    %li{class: "#{@active == 'dashboard' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.dashboard'), dashboard_path
    %li{class: "#{@active == 'sells' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.sell'), '#'
  %ul.nav.nav-sidebar
    %li{class: "#{@active == 'buy' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.buy'), new_insurance_path
    %li{class: "#{@active == 'shoppings' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.shopping'), '#'
    %ul.nav.nav-sidebar
    %li{class: "#{@active == 'profile' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.profile'), edit_user_registration_path
