#sidebar
  %ul.nav.nav-sidebar
    %li{class: "#{@active == 'dashboard' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.dashboard'), dashboard_path
    - if current_user.admin?
      %li{class: "#{@active == 'sells' ? 'active' : 'inactive'}"}
        = link_to t('dashboard.sidebar.sell'), insurances_path
      %li{class: "#{@active == 'vehicles' ? 'active' : 'inactive'}"}
        = link_to t('dashboard.sidebar.vehicles'), vehicles_path
  %ul.nav.nav-sidebar
    %li{class: "#{@active == 'buy' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.buy'), new_insurance_path
    - unless current_user.admin?
      %li{class: "#{@active == 'bought' ? 'active' : 'inactive'}"}
        = link_to t('dashboard.sidebar.shopping'), bought_insurances_path
    %ul.nav.nav-sidebar
    %li{class: "#{@active == 'profile' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.profile'), edit_user_registration_path
