#sidebar
  %ul.nav.nav-sidebar
    %li{class: "#{@active == 'dashboard' ? 'active' : 'inactive'}"}
      = link_to t('dashboard.sidebar.dashboard'), dashboard_path
    %li
      = link_to t('dashboard.sidebar.sell'), '#'
  %ul.nav.nav-sidebar
    %li
      = link_to t('dashboard.sidebar.buy'), '#'
    %li
      = link_to t('dashboard.sidebar.shopping'), '#'
    %ul.nav.nav-sidebar
    %li
      = link_to t('dashboard.sidebar.profile'), edit_user_registration_path
